header{
  font-family: 'Oxygen', sans-serif;
}

.navbar-brand{
  font-size : 2em;
}

.navbar-collapse ul{
  background-color: rgb(98, 114, 114);
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.navbar-collapse li{
  font-size: 1.8em;
}

.col-xs-12{
  text-align: center;
  background-color: grey;
  margin-top: 100px;
  margin-bottom: 100px;
  border : 3px solid black;
}

.col-xs-12 p{
  text-align: justify;
  margin-top: 20px;
  margin-right: 30px;
  margin-left: 30px; 
  font-size: 1.6em;
  font-style: italic;
}


.col-xs-12 span{
  font-size: 3.5em;
  color: rebeccapurple;

}
