* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;    
}

h1 {
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
}


.box{
    width: 100%;
    overflow: none;
  }


.meat{
    overflow: none;
    text-align: center;
    border: 2px solid black;
    width: 140px;
    height: 30px;
    padding: 5px;
    float: right;
    margin-right: 13px;
    margin-top: 2px;
    font-weight: bold;
    position: relative;
}

.c{
    background-color: pink;
}

.b{
    background-color:red;
}

.s{
    background-color:rgb(182, 182, 29);
}

.content{
    border: 5px solid black;
    width: 95%;
    margin: 2.5%;
    background-color: rgb(143, 143, 143);
    font-size : 17px;
    padding-top: 40px;
    padding-left: 2%;
    padding-bottom: 1%;
  }



/********** Large devices only **********/
@media (min-width: 992px) {
    .col-lg-4 {
      float: left;
      width: 33.33%;
    }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
     .col-md-6,.col-md-12 {
        float: left;
      }

      .col-md-6 {
        width: 50%;
      }

      .col-md-12 {
        margin-left: -10px;
        width: 100%;
      }
      .s{
          margin-right: 25px;
      }

}


@media (max-width: 767px) {
    .col-sm-12 {
        float: right;
      width: 100%;
    }
    .meat{
      margin-right: 3%;
    }
}